body{
	background: url("../img/wallpaper.jpg");
}

/*Extender la clase nav-bar*/
.nav>li>a{

}

#page{
	margin: 10% auto;
	min-height:500px;
}

.loginArea{
	display: inline-block;
	background: #CCFF99;
	padding: 3em 3em;
	margin: 10% 35%;
	box-shadow: 10px 10px 10px;
}

.loginArea .btn-default{
	margin: 1em 6em;
}

.form .loginArea > .row > input,
.form .loginArea > .row > label{
	margin-left: 5em;
}	


.titulo{
	margin: 5% 14%;

}

.content{
	background: white;
	box-shadow: 10px 10px 10px;
	min-height: 400px;
	max-width: 960px;
	margin: 4% auto;
}

#busqueda-almacen-sec{
	display: inline-block;
	position: relative;
	margin: 4% 5%;
	width: 95%;
}

#busqueda-almacen-sec label{
	margin-right: 4%;
}
#busqueda-almacen-sec input{
	
	width: 25%;
}

#venta-productos-sec{
	width: 95%;
}

#venta-productos-sec > table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
t

